* {
    margin: 0%;
    font-family: Roboto, serif;
    scroll-behavior: smooth;
}

button {
    width: 70px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    height: 25px;
}

button:hover {
    background-color: aquamarine;
    border-color: aquamarine;
    color: #03142b;
    height: 30px;
    width: 75px;
    font-size: 15px;
    font-weight: 700;
}

#hero {
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: #f5d95f dashed 3.5px;
}

.image1 {
    height: 50px;
    padding: 0 20px;
    margin: auto 0px;
}

.link1 {
    text-decoration: none;
    color: #e5e7eb;
    width: 100px;
    text-align: center;
    line-height: 70px;
}

.link1:hover {
    color: aquamarine;
    font-size: 18px;
    text-decoration: underline aquamarine;
    background-color: #03142b;
    border-radius: 15px;
    height: 100%;
    font-weight: 700;
}

.navbar {
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px
}

.section-1 {
    background-color: #1f2937;
    width: 100%;
    height: 420px;
    color: #f9faf8;
    display: flex;
    border-top: #f5d95f dashed 3.5px;
    border-bottom: #f5d95f dashed 3.5px;
}

.talking {
    flex-direction: row;
    width: 50%;
    width: 200px;
    height: max-content;
    margin-left: 20px;
    text-align: center;
}

.talking p {
    font-size: 15px;
    margin: 5px 0px;
}

.button1 {
    border: #3882f6;
    margin-top: 13px;
}

.about {
    border: solid 7px #e5e7eb;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100px;
}

.the-image {
    width: 400px;
    height: 200px;
    background-color: grey;
    border-radius: 100px;
    border: solid 4px #f9faf8;
    margin-right: 20px;
}

.image2 {
    width: 100%;
    height: 100%;
    border-radius: 96px;
}

.section-2 {
    height: 420px;
    width: 100%;
    display: flex;
    border-top: #f5d95f dashed 3.5px;
    border-bottom: #f5d95f dashed 3.5px;
}

.box {
    height: 150px;
    gap: 20px;
    margin: auto;
}

.image3 {
    flex-direction: row;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.description {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    color: #42454d;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    height: 420px;
    display: flex;
    flex: auto;
    border-top: #f5d95f dashed 3.5px;
    border-bottom: #f5d95f dashed 3.5px;
}

.quote {
    width: 600px;
    height: 210px;
    margin: auto;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote h3 {
    font-size: 20px;
    text-align: end;
    padding-right: 65px;
}

.section-4 {
    height: 350px;
    display: flex;
    color: #1f2937;
    border-top: #f5d95f dashed 3.5px;
    border-bottom: #f5d95f dashed 3.5px;
}

.credit {
    width: 66.6%;
    height: 66.6%;
    text-align: center;
    margin: auto;
    border: #03142b solid 3px;
    border-radius: 10px;
}

.credit h3 {
    font-size: 30px;
    margin: 7px 0px 15px 0px;
    text-decoration: underline;
}

.list p {
    margin: 20px 0;
}

.link2 {
    color: #03142b;
    text-decoration: none;
    font-size: 20px;
}

.link2:hover {
    background-color: #1f2937;
    color: aquamarine;
    padding: 5px 10px;
    text-decoration: underline;
    border-radius: 10px;
    font-weight: 500;
}

#footer {
    background-color: #1f2937;
    height: 90px;
    display: flex; 
    border-top: #f5d95f dashed 3.5px;
}

#footer p {
    height: fit-content;
    font-size: 15px;
    color: #f9faf8;
    margin: auto;
}

.link3 {
    color: aquamarine;
    text-decoration: none;
}

.link3:hover {
    font-size: 17px;
    padding: 5px;
}
